@charset "utf-8";
/*
	Last Update:2019/11/18
	Auther: okada
*/
/*===================================================================
	layout
===================================================================*/
html { background:#fff; }
body { position:relative; text-align:center; overflow-x:hidden; }
#base, #body { position:relative; color: #6A4428;}

.wrapper, .wrapper-t, .wrapper-b { position:relative; }
	@media (max-width: 576px){
		.wrapper, .wrapper-t { padding-top:70px; }
		.wrapper, .wrapper-b { padding-bottom:70px; }
	}
	@media (min-width: 576px){
		.wrapper, .wrapper-t { padding-top:100px; }
		.wrapper, .wrapper-b { padding-bottom:100px; }
	}

.center, .center2,
.center3, .center4 { margin:0 auto; text-align:left; }
.center { max-width:1350px; }
.center2 { max-width:850px; }
.center3 { max-width:1100px; }
.center4 { max-width:600px; }
	@media (max-width:1380px){
		.center { padding-left:15px; padding-right:15px; }
	}
	@media (max-width: 880px){
		.center2 { padding-left:15px; padding-right:15px; }
	}
	@media (max-width:1130px){
		.center3 { padding-left:15px; padding-right:15px; }
	}
	@media (max-width: 630px){
		.center4 { padding-left:15px; padding-right:15px; }
	}


/*===================================================================
	#head
===================================================================*/
#head { position:absolute; left:0; top:0; width:100%; z-index:990; text-align:left; }
#head a { text-decoration:none; }
#head .head_wrap { position:relative; display:table; width:100%; margin:0 auto; }
#head .head_wrap > * { display:table-cell; vertical-align:middle; }
	@media (max-width: 991px){
		#head.fixed { position:fixed; }
		#head .head_wrap.center { padding-right:0; }
	}

#head .site_logo {}
#head .site_logo a { display:block; max-width:300px; }
	@media (max-width: 991px){
		#head .site_logo { padding:10px 15px 10px 0; }
		#head.fixed .site_logo a { display:none; }
	}
	@media (min-width: 992px){
		#head .site_logo { padding:20px 15px; }
	}

#btn_open {}
	@media (max-width: 991px){
		#btn_open { width:70px; }
		#btn_open a { background:#CB4E4E; position:relative; z-index:991; text-align: center; display:block; font-size:30px; line-height:1px;  padding: 35px 0; color:#FFF; }
		#menu_cover { background:rgba(255,255,255,0.9); position:absolute; top:0; left:0; z-index:900; width:100vw; height:100%; overflow:hidden; }
	}
	@media (min-width: 992px){
		#btn_open { display:none !important; }
	}

#head_contact {}
.btn_contact a { display:inline-block; background: #CB4E4E; color: #FFF; padding: 15px 30px; border-radius: 10px; }
	@media (max-width: 991px){
		#head_contact{ display:none !important; }
		#head_navi .btn_contact { padding:30px 15px; text-align:center; }
	}
	@media (min-width:992px){
		#head_contact { width:270px; padding: 0px 15px; }
		#head_navi .btn_contact { display:none; }
	}


#head_navi {}
#head_navi .main a { color: #6A4428; }
	@media (max-width: 991px){
		#base:not(.open) #head_navi { display:none !important; }
		#base.open #head_navi { position:absolute; display:block !important; top:0; left:0; z-index:990; width:100%; background:rgba(255,255,255,0.9); }

		#head_navi .main li { border-bottom: 2px dotted #CB4E4E; }
		#head_navi .main li a {display:block; padding:20px; }
		body.pc #head_navi .main a:hover { background:#FFFFEB; }
	}
	@media (min-width:992px){
		#head_navi .main ul { display:table; margin: 0 0 0 auto; width:100%; max-width:405px; }
		#head_navi .main li { display:table-cell; text-align:center; line-height:100%; border-left: 2px solid #6A4428; }
		#head_navi .main ul > li:first-child{border:none;}
		#head_navi .main a { padding: 0px 10px;}
		body.pc #head_navi .main a:hover { text-decoration:underline; }
	}
	@media (min-width:992px) and (max-width:1050px){
		#head_navi .main > ul > li{font-size: 13px;}
	}

#head .sns_icon {}
#head .sns_icon a { position:relative; display:inline-block; color:#fff; text-align:center; margin: 0 3px;
						font-size: 25px; line-height:50px; width:50px; height:50px; border-radius:50%; overflow:hidden; }
#head .sns_icon a.ameblo { background:#fe9019;; }
#head .sns_icon a.instagram { background:#000; }
#head .sns_icon a.fb { background:#3b5998; }
#head .sns_icon a.line { background:#2bbf13; color:#2bbf13; }
#head .sns_icon a.line:before { content:""; background:#fff; position:absolute; top:calc(50% - 13px); left:calc(50% - 13px); width:26px; height:26px; }
#head .sns_icon a.line i { position:relative; bottom:-5px; font-size:40px; }
#head .sns_icon a.contact { background:#CB4E4E; display:none; }
	@media (max-width: 991px){
		#head .sns_icon { padding:0 0 30px; text-align:center; }
	}
	@media (min-width: 992px){
		#head .sns_icon { position: absolute; right: 0; top:100%; padding:0 30px; }
		#head.fixed .sns_icon { position: fixed; right: 0; top:15vh; width:90px; }
		#head.fixed .sns_icon a.contact { display:inline-block; }
	}



/*===================================================================
	#foot
===================================================================*/
#foot { position:relative; color:#6A4428; background:url(../image/foot/back.jpg) repeat center top / cover; }
#foot a { color:#6A4428; text-decoration:none; }
#foot .foot_navi ul { text-align:center; }
#copyright { font-size:13px; text-align:center; color:#6A4428; padding:10px 0 0;  border-top: 1px dotted; }

#pagetop { position:fixed; bottom:0; right:0; z-index:9000;  line-height:100%; }
#pagetop a { color:#fff; text-decoration:none; display:block; padding:20px 25px; background:#CB4E4E; }
#pagetop a span { display:inline-block; border-top:2px solid #fff; padding:5px 0 0; }
body.pc #pagetop a:hover { opacity:0.8; }

	@media (max-width: 767px){
		#foot { padding:30px 15px 70px; }
		#foot .logo img { max-width:250px; }
		#pagetop { font-size:20px; }
		#foot .foot_wrap { font-size:0.9em; text-align:center; padding: unset!important;  }
		#foot .foot_navi li {width: 100%; border-bottom: 1px dotted; display: inline-block; text-align: left;}
		#copyright { border-top:unset; }
		#foot .foot_navi {padding: 10px 0;}
		#foot a{display:block; padding: 10px 0;}
	}
	@media (min-width: 768px){
		#foot { padding:30px 15px; }
		#foot .logo img { max-width:250px; }
		#pagetop { font-size:40px; }
		#foot .foot_wrap { font-size:0.9em; text-align:center; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; }
		#foot .foot_navi li { display:inline-block; line-height:100%; padding:0 15px; border-right:1px solid #6A4428; }
		#foot .foot_navi ul > li:last-child { border:none; }
	}


/*===================================================================
	#common
===================================================================*/
/* title */
#page_title { position:relative; z-index: 10; }
#page_title .img_back { max-height:350px; overflow:hidden; }
#page_title .page_title_wrap { position:absolute; top:0; left:0; width:100%; height:100%; }
#page_title .center3 { display:table; width:100%; height:100%; }
#page_title h2 { display:table-cell; text-align:left; vertical-align:middle; color: #FFF; padding-top: 70px;}
#page_title h2 span { display:block; line-height:5px; }
#page_title h2 .sub { font-weight:normal; }
#page_title .c0 .sub { border-left:1px solid #106b6c; }
#page_title .cg2 .sub { border-left:1px solid #51a243; }

	@media (max-width: 575px){
		#page_title .img_back { min-height: 180px; }
		#page_title h2 .main { margin-bottom:10px; }
		#page_title h2 .sub { display:block; font-size:1em; }
	}
	@media (min-width: 576px){
		#page_title .img_back { min-height: 250px; }
		#page_title h2 .sub { font-size:1.5em; border-left:1px solid; padding:0 0 0 20px; margin:0 0 0 20px; }
	}
	@media (max-width: 767px){
		#page_title h2 .main { font-size:2em; }
		#page_title h2 span{line-height:15px;}
	}
	@media (min-width: 768px){
		#page_title h2 .main { font-size:2.25em; }
	}

/* pankuzu */
#pankuzu { text-align:left; font-size:13px; padding:20px 0; color:#6A4428; z-index: 100; position: absolute;}
#pankuzu a { color:#6A4428; }
#pankuzu li { display:inline-block; }
#pankuzu li:before { content:"\f054"; font-family:"Font Awesome 5 Free"; -webkit-font-smoothing:antialiased; text-rendering:auto; font-variant:normal; font-weight:bold; font-size:0.85em; padding:0 10px; color:#6A4428; }
#pankuzu ul > li:first-child:before { content:""; padding:0; }
	@media (max-width: 575px){
		#pankuzu { display:none; }
	}
