@charset "utf-8";
/*
	Last Update:2019/11/18
	Auther: okada
*/
/*===================================================================
	#top 共通
===================================================================*/
.flex{display: flex; align-items: center;}
.box{border: 1px solid; padding: 15px 30px;}
	@media (max-width: 767px){
		.photo img{margin:0 auto;}
	}

.box_shadow { box-shadow:5px 5px 5px rgba(106,68,40,0.3); }


/*===================================================================
	#top #top_unit
===================================================================*/
#top_unit{position: relative;}
#main_image { position:relative; }
#main_image .unit .text { position:absolute; top:0; left:0; width:100%; height:100%; }
#main_image .unit .center { display:table; height:100%; }
#main_image .unit .text_in { display:table-cell; }
	@media (max-width: 767px){
		#main_image .unit .center { padding-bottom:50px; }
		#main_image .unit .text_in { vertical-align:bottom; }
		#main_image .unit .text img { width:74%; }
	}
	@media (min-width: 768px){
		#main_image,
		#main_image .unit { max-height:calc(100vh - 90px); }
		#main_image .unit .text_in { vertical-align:middle; }
		#main_image .unit .text img { width:58%; }
	}

#main_image_text { position: absolute; bottom: 0;  width: 100%; text-shadow: 0 0 5px #413124; color: #FFF;}
#main_image_text_in {background:url(../image/contents/top/back.png) no-repeat center top / cover;  padding: 30px 0 100px 0;}
#main_image_text h1 {    letter-spacing: 5px;  font-size:3em;  text-align: left; line-height:120%; }
#main_image_text h1 span{   font-size: 0.75em; display: block;}

@media (max-width: 991px){
	#main_image_text_in {padding: 20px 0 70px 0;}
	#main_image_text h1 {font-size: 2.5em;}
}
@media (max-width: 767px){
	#main_image_text h1 { font-size: 1.5em; padding: 25px 0; letter-spacing:normal;}
	#main_image_text_in { padding:0;}
	#main_image_text { bottom: 30px;}
}


/*===================================================================
	#top #about
===================================================================*/
#top #about {}
	@media (min-width: 576px){
		#top #about .title_photo { position:relative; margin-top:-150px; }
	}


#top #about .text.border{border-top: 2px solid #C6B29A; padding-top: 20px;}
#top #about .top_menu{margin-bottom: 50px;}


@media (max-width: 991px){
	#top #about .mt-50{    margin-top: 100px;}
}
@media (max-width: 767px){
	#top #about .top_menu{margin-bottom: 30px;}
}


/*===================================================================
	#top #message
===================================================================*/
#top #message {}
#top #message:before { content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../image/contents/top/deco_h.png) no-repeat left top / auto; }
#top #message:after{ content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../image/contents/top/deco_f.png) no-repeat right bottom / auto; }
#top #message > .center3 { position:relative; z-index:2; }

#top #message .post{float: left;}
#top #message .name{float: right; font-size: 20px;}
#top #message .pd{padding: 0 20px;}
	@media (min-width: 576px) and (max-width: 767px){
		#top #message .pd { padding:0; }
	}

#top #message .license_unit { position:relative; border-radius: 10px; padding: 5px 0px;}
#top #message .license_unit .license_box { display:table; width:100%; text-decoration:none; color:#444; }
#top #message .license_unit .license_box > * { display:table-cell; vertical-align:middle; }
#top #message .license_unit h3 { line-height:130%; }
#top #message .license_unit .photo .new { position:absolute; top:0; left:0; color:#fff; font-size:12px; padding:3px 10px; }
#top #message .license_unit .photo .img_sq{border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
#top #message .name_box{margin: 0 auto;}

	@media (max-width: 767px){
		#top #message .license_unit .photo { width:25%; }
		#top #message .license_unit { margin-bottom:0px;  padding: 10px 0px;}
		#top #message .certificate{padding: unset!important; margin: 0 auto}
		#top #message .name_box{margin-bottom: 20px;}
		#top #message .sp_mt20 {margin-top: 20px;}

	}
	@media (min-width: 768px){
		#top #message .license_unit .photo { width:70px; }
	}

	@media (max-width: 575px){
		#top #message .flex {display: block;}
		#top #message .license{margin: 0 auto;}
	}

/*===================================================================
	#top #information
===================================================================*/
#top #information h2 { line-height: unset;}
#top #information p{ color:#6A4428 ;}
#top #information .info_unit { position:relative; margin-bottom:20px;  border-radius: 10px;}
#top #information .info_unit a { display:table; width:100%; text-decoration:none; color:#444; }
#top #information .info_unit a > * { display:table-cell; vertical-align:middle; }
#top #information .info_unit h3 { line-height:130%; }
#top #information .info_unit .photo .new { position:absolute; top:0; left:0; color:#fff; font-size:12px; padding:3px 10px; }
#top #information .info_unit .photo .img_sq{border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
	@media (max-width: 767px){
		#top #information .info_unit .photo { width:40%; }
	}
	@media (min-width: 768px){
		#top #information .info_unit .photo { width:180px; }
		#top #information .info_unit .text { padding:30px; }
	}

/*===================================================================
	#top #menu
===================================================================*/
#top #menu {}
#top #menu:before { content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../image/contents/top/h_deco.png) no-repeat left top / auto; }
#top #menu > .center3 { position:relative; }
	@media (min-width: 576px){
		#top #menu h2 { margin-bottom:0; }
		#top #menu .title_photo { position:relative; margin-top:-150px; }
	}

#top #menu p.pay{right: 0; font-size: 25px; position: absolute;}
#top #menu .flex{position: relative;}
#top #menu .indent p{ text-indent: -1em; padding-left: 2em;}
#top #menu .time{ font-size: 1.75em;}
#top #menu td.pay{font-size: 25px;}
#top #menu .tbl_form {border-spacing: 0 10px!important;}

@media (max-width: 991px){
	#top #menu .time { font-size: 1.25em; text-align: left;}
	.tbl_form tbody th { min-width: 150px!important;}
	#top #menu td.pay {font-size: 22px;}
}

@media (min-width: 768px){
#top #menu .tbl_form tbody th {padding:0;}
.tbl_form tbody td {padding: 0 0 0 25px;}
#top #menu td.pay{ padding:0; text-align: right;}
}

@media (max-width: 767px){
#top #menu .tbl_form tbody td { padding:0 !important; text-align: center;}
#top #menu .tbl_form tbody th {text-align: center;}
#top #menu .time{ text-align: center!important;}
}

/*===================================================================
	#top #flow
===================================================================*/
#top #flow .flow{padding: 0 30px;}
#top #flow .flow .flow_unit{background: #F8F3E5; padding: 15px 30px;}
#top #flow .flow .facial_treatment{padding:30px;}
#top #flow .square{background: #F8F3E5; width: 15px; height: 12px; margin: 0 auto;}
#top #flow .flow_unit .triangle{border-top: 20px solid #A28A75; border-right: 30px solid transparent; width: 5%; border-left: 30px solid transparent; margin: 0 auto; padding-top: 30px; margin-top: 30px;}
#top #flow .flow_unit .h1{font-size: 2em;}
#top #flow .flow .flow_unit .col-xs-8 p {padding: 10px 0;}
#top #flow .number{box-shadow: 5px 5px 5px rgba(106,68,40,0.3); }
	@media (min-width: 576px){
		#top #flow h2 { margin-bottom:0; }
	}

@media (max-width: 767px){
	#top #flow .flow {padding: 0 15px;}
	#top #flow .flow_unit .triangle { padding-top: 15px; margin-top: 10px;}
	#top #flow .number{padding: 10px 15px;}
	#top #flow .flow_unit .h1 {font-size: 1.75em;}
}


/*===================================================================
	#contact
===================================================================*/
#top #contact {}
#top #contact:before { content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../image/contents/top/f_deco.png) no-repeat right bottom / auto; }
#top #contact > .center3,
#top #contact > .center4 { position:relative; }
	@media (min-width: 576px){
		#top #contact h2 { margin-bottom:0; }
	}

#top #contact .contact_box { border: 3px solid #E6DAB5; border-radius: 10px; padding: 30px;}
#top #contact .contact_box i{margin-right: 5px;}
#top #contact .contact_box .tel{font-size: 2em;}
#top #contact .mail a{ text-decoration: unset!important;}
#top #contact .instagram a{ color: #6A4428!important; text-decoration: unset!important;}

.tbl_form { width:100%; border-collapse:separate; border-spacing:0 30px; }
.tbl_form tbody th,
.tbl_form tbody td { vertical-align:middle; }
.tbl_form tbody th {}


	@media (max-width: 767px){
		.tbl_form,
		.tbl_form tbody,
		.tbl_form tr,
		.tbl_form tr > * { display:block; }
		.tbl_form tbody th { padding:10px; }
		.tbl_form tbody td { padding:10px 10px 30px 0; }
		.tbl_form tbody > tr:last-child td { padding-bottom:0; }

		#top #contact .contact_box {padding: 10px;}
		#top #contact .contact_box .tel {font-size: 1.75em;}
	}
	@media (min-width: 768px){
		.tbl_form tbody th { width:25%; min-width:220px; padding:15px 10px; }
		.tbl_form tbody td { padding:0 0 0 25px; }
	}

/*===================================================================
	#contact_finish
===================================================================*/
#contact_finish .bg_clear{padding: 30px 0; margin-bottom: 50px;}
#contact_finish .finish{z-index:10; }

/*===================================================================
	#information_list
===================================================================*/
#information_list .body:before { content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../image/contents/top/deco_h.png) no-repeat left top / auto; }
#information_list .body:after{ content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../image/contents/top/deco_f.png) no-repeat right bottom / auto; }
#information_list .body > .center3 { position:relative; z-index:2; }

#information_list .img_rect{border-top-left-radius: 10px; border-top-right-radius: 10px;}
#information_list .bg_clear{border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;  padding: 25px;}
#information_list .bg_clear p{color:#6A4428;}
#information_list .information{position: relative; z-index: 10;}


/*===================================================================
	#information_detail
===================================================================*/
#information_detail .information {position: relative; z-index: 10;}
#information_detail .button._more{position: relative; z-index: 10;}
#information_detail .button._more{position: relative; z-index: 10;}
#information_detail .information img, #information_detail .information .img_rect{border-radius: 20px;}

@media (max-width: 767px){
	#information_detail .information h2{margin-bottom: 5px;}
}

/*===================================================================
	#privacy
===================================================================*/
#privacy .body:before { content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../image/contents/top/deco_h.png) no-repeat left top / auto; }
#privacy .body:after{ content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../image/contents/top/deco_f.png) no-repeat right bottom / auto; }
#privacy .body > .center3 { position:relative; z-index:2; }


#privacy .privacy {position: relative; z-index: 10;}
#privacy .privacy p{padding: 0 30px;}
#privacy .privacy ul{ padding: 0 40px; }
#privacy .privacy ul li{padding-left:1em; text-indent:-1em;}
#privacy .privacy p.tel{font-size: 25px;}
#privacy .privacy p i{margin-right: 5px;}
#privacy .mail a,#privacy .instagram a{  color: #6A4428!important; text-decoration: unset!important;}

/*===================================================================
	#entry
===================================================================*/
.entry { text-align:left; }
.entry p { margin-bottom:15px; }

.entry ul,
.entry ol { list-style:none; margin-left:10px; margin-bottom:20px; }
.entry ul > li,
.entry ol > li { position:relative; padding:0 0 5px 25px; margin:0 0 5px; color:#04326a; border-bottom:1px dashed #04326a; }
.entry ul > li:before,
.entry ol > li:before { position:absolute; top:0; left:3px; color:#04326a; font-weight:bold; }
.entry li > ul,
.entry li > ol { margin-top:5px; margin-bottom:0; }
.entry li > ul > li,
.entry li > ol > li { border:none; padding-bottom:0; }
.entry ul > li > ul > li:before,
.entry ol > li > ol > li:before { color:#88c0e4; }

.entry ul > li:before { content:"○"; }
.entry ul > li > ul > li:before { content:"●"; }
.entry ol { counter-reset:ol_li; }
.entry ol > li:before { counter-increment:ol_li; content:counter(ol_li)"."; }

.entry dl {}
.entry dt { color:#003e67; font-weight:bold; font-size:1.1em; }
.entry dd { margin-bottom:20px; }

.entry table { margin-bottom:30px; width:100%; }
.entry th,
.entry td { padding:10px 15px; border:1px solid #ccc; }
.entry thead th { background:#006b4d; color:#fff; font-weight:bold; }
.entry thead td { background:#4b9681; color:#fff; font-weight:bold; }
.entry tbody th { background:#f6f9e5; font-weight:bold; }
.entry tbody tr > th:nth-child(1) { width:25%; max-width:280px; }


/*===================================================================
	hl
===================================================================*/
h2 { font-size:1.75em; margin-bottom:30px; line-height: 100%;}
h2 span.en{display: block; font-family:'Monotype Corsiva', 'Charm', cursive; }
h2 span.sub { display: block; font-size:16px; }
h3{font-size:1.25em;}
h4{font-size:1.25em; border-left: 1px solid; padding-left: 10px;}
h5{font-size:1.25em; border-bottom: 1px dotted;  padding: 10px 0;}

	@media (max-width: 767px){
		h2 {line-height: 30px; font-size: 1.25em;}
		h2 span.en {margin-bottom: 5px; font-size: 1.75em;}
	}
	@media (min-width: 768px){
		h2 span.en { font-size:1.5em; margin-bottom:30px; }
	}


/*===================================================================
	button
===================================================================*/
.button,
a.button {  min-width: 300px; display:inline-block; position:relative; text-decoration:none; text-align:center; line-height:100%; border:1px solid #CB4E4E; border-radius: 10px; color:#fff; padding:20px 50px;  text-shadow:#6A4428 1px 1px 2px, #6A4428 -1px 1px 2px,#6A4428 1px -1px 2px, #6A4428 -1px -1px 2px; font-size:1.15em; background: #CB4E4E; }

.button._back{border: 1px solid #BFBFBF;     background: #BFBFBF;}
.button._back:hover{color: #BFBFBF!important;}
.button i { margin:0 5px; position: absolute; right: 15px;}
.button._back i.fas.fa-arrow-left { position:absolute; left:15px;   right: unset;}
.button._more { background:#6A4428; border:1px solid #6A4428; color: #FFF;}
body.pc .button._more:hover { background:#fff; color:#6A4428; text-shadow:unset;}
body.pc .form_button .button:hover { background:#fff; color:#CB4E4E; text-shadow:unset;}
.form_button{position: relative; z-index: 50;}

@media (max-width: 767px){
	.button, a.button {min-width: 250px;}
}

/*===================================================================
	color
===================================================================*/
.bg_clear{background: rgba(255,255,255,0.7); position: relative; z-index: 100;}
.bg_0{background:url(../image/contents/top/back_0.jpg) repeat center top / cover;}
.bg_1{background:url(../image/contents/top/back_1.jpg) repeat center top / cover;}
.bg_2{background:url(../image/contents/top/back_2.jpg) no-repeat center top / cover; }
.bg_3{background:url(../image/contents/top/back_3.jpg) repeat center top / cover; }

.c_red { color:#CB4E4E !important; }
.c_blue { color:#005DA4 !important; }
.cb { color:#04326a !important; }



/*===================================================================
	pc / sp
===================================================================*/
.mb0  { margin-bottom:0 !important; }
.mb5  { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb70 { margin-bottom:70px !important; }
.mb100 { margin-bottom:100px !important; }
.mt-50{margin-top: -50px;}
.mt100{margin-top: 100px;}
.bt_0{bottom: 0;}
.tp_0{top: 0;}

@media (max-width: 767px){
	.mt-50{margin-top: 50px!important;}
	.mt100{margin-top: 50px!important;}
}


.pos_re{position: relative;}
.pos_ab{position: absolute;}

.disp_b { display:block; }
.disp_ib { display:inline-block; }
.disp_tb { display:table;}
.disp_tc { display:table-cell; vertical-align:middle; }

.bor5 { display:block; border-radius:5px; overflow:hidden; }
.bor10 { display:block; border-radius:10px; overflow:hidden; }
.bor50 { display:block; border-radius:50%; overflow:hidden; }

.img_sq, .img_rect, .img_back { background-position:center center; background-repeat:no-repeat; background-size:cover; }
.img_sq > img, .img_rect > img, .img_back > img { visibility:hidden; }

.parallax, .parallax:before, .parallax:after { transition:all .7s; }
body.pc .parallax[data-parallax-in="vertical"],
body.pc .parallax[data-parallax-in="vertical2"],
body.pc .parallax[data-parallax-in="vertical3"] { opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0); }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on) { opacity:0 !important; }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on)  { transform:translateY(30px); -webkit-transform:translateY(30px); -ms-transform:translateY(30px); }
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on) { transform:translateY(60px); -webkit-transform:translateY(60px); -ms-transform:translateY(60px); }
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on) { transform:translateY(90px); -webkit-transform:translateY(90px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="left"] { position:relative; left:0; }
body.pc .parallax[data-parallax-in="left"]:not(.parallax_on) { left:-100vw; }

/* font */
.mincho { font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","Sawarabi Mincho","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; }
.fa_b:before,
.fa_a:after { font-family:"Font Awesome 5 Free"; display:inline-block; font-weight:900; font-style:normal; font-variant:normal; text-rendering:auto;
	line-height:1; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; }

@media (min-width: 768px){
	.pc_none { display:none !important; }
}
@media (max-width: 767px){
	.sp_none { display:none !important; }
	.sp_table_wrap { overflow-x:auto; width:100%; white-space:nowrap; }
	.sp_table_wrap::-webkit-scrollbar { height:10px; }
	.sp_table_wrap::-webkit-scrollbar-track { background:#F1F1F1; }
	.sp_table_wrap::-webkit-scrollbar-thumb { background:#BCBCBC; }
	.sp_table_wrap table { width:100%; }
	.sp_table_wrap table { font-size:13px !important; -webkit-text-size-adjust:100%; -moz-text-size-adjust:none; -ms-text-size-adjust:100%; text-size-adjust:100%; }
}
